body {
    background-color: rgb(230, 230, 230);
    width: 100%;
    margin: 0 auto;
}

button {
    /* width: 20%; */
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
    font-family: 'Rubik';
    border: none;
}

button:hover {
    background-color: rgb(128, 128, 128);
    cursor: pointer;
    color: white;
    box-shadow: none;
}

.loading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-cat {
    object-fit: cover;
    border-radius: 10px;
    height: 300px;
    width: 400px;
}

.loading-message {
    font-family: 'Rubik';
    font-size: 30px;
    font-weight: bold;
}
