
.create_blog_container{
    border: 1px solid black;
    height: 230px;
    width: 360px;
    border-radius: 10px;
    margin: 0 auto; /* Add this line to center horizontally */
    margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: center; /* Add this line to center vertically */
}
.create_blog_button{
    margin: 5px;
    align-items: center;
}
