button {
    background-color: none;
}

.profile-button {
    width: 40px;
    height: 40px;
    margin-right: 50px;
    background-color: none;
}

.profile-button:hover {
    cursor: pointer;
    position: relative
}

.profile-dropdown {
    position: absolute;
    top: 10%;
    right: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
    padding: 0px;
    width: 200px;
    height: 200px;
    font-family: 'Rubik';
    border: 1px solid black;
}
