.like-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 5px;
    height: 120px;
    color: white;
    font-family: 'Rubik';
    font-size: 80px;
    font-weight: bold;
}

.like-header:hover {
    animation: pulse 2s infinite;
    cursor: pointer;
}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
